#Information{
	margin-top: 50px;
	margin-bottom: 50px;
}
#Information_pic h3,
#Information_project h3{
	font-weight: lighter;
	margin-bottom: 50px;
	line-height: 26px;
}
#Information_pic h3 small,
#Information_project h3 small{
	font-weight: lighter;
	font-size: 20px;
}
#Information_pic,
#Information_project{
	margin-bottom: 60px;
}
#Information_pic .pic{
	margin-bottom: 30px;
}
#Information_pic .pic img{
	width: 100%;
	height: auto;
}
#Information_project a{
	padding-top: 10px;
	padding-bottom: 10px;
}
#Information_project a:hover{
	background-color: #EFEFEF;
}


