#Teams{
	margin-top: 50px;
	margin-bottom: 50px;
}
#Teams_list h3{
	font-weight: lighter;
	margin-bottom: 50px;
	line-height: 26px;
}
#Teams_list h3 small{
	font-weight: lighter;
	font-size: 20px;
}
#Teams_list{
	margin-bottom: 60px;
}
